doctype html
html
  head
    title Notification Center
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
    //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous')

  body.mt-5.bg-dark
    //- ul
    //-   each item in users
    //-     li #{item.fullName} - #{item.notificationToken}

    div.row.ml-3.mb-5
      .card.w-25.mr-5.shadow(style="background-color: lightblue;")
        .card-body
          h5.card-title Users
          h1 #{users.length}

      .card.w-25.shadow.mr-5(style="background-color: lightpink;")
        .card-body
          h5.card-title Registrations
          h1 #{registrations.length}

      .card.w-25.shadow(style="background-color: lightgreen;")
        .card-body
          h5.card-title Attendees
          h1 #{attendees.length}

      .card.w-25.mr-5.shadow.mt-2
        .card-body
          ul.list-group
            each user in users
              //- div.list-group-item
              //-   h5 #{user.fullName}
              //-   small #{user.email}
              if user.notificationToken
                li.list-group-item #{user.fullName} - notifications 
                  span.text-success &#10003
              else
                if user.fullName == 'Orascom Admin'
                  li.list-group-item.list-group-item-info #{user.fullName}
                else
                  li.list-group-item #{user.fullName} 

      .card.w-25.mr-5.shadow.mt-2
        .card-body
          ul.list-group
            each registration in registrations
              //- div.list-group-item
              //-   h5 #{user.fullName}
              //-   small #{user.email}
              if registration.user.fullName
                li.list-group-item #{registration.user.fullName}
      
       .card.w-25.mr-5.shadow.mt-2
        .card-body
          ul.list-group
            each attendee in attendees
              //- div.list-group-item
              //-   h5 #{user.fullName}
              //-   small #{user.email}
              if attendee.user.fullName
                li.list-group-item #{attendee.user.fullName}


    div
      form.ml-3(action="/api/notifications", method='post')
        div.form-group.w-25(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label.text-white(for='notificationTitle') Notification Title
              input.form-control(name='notificationTitle' placeholder='Enter Notification Title')
        div.form-group.w-25(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label.text-white(for='notificationMessage') Notification Message
              textarea(name="notificationMessage", cols="40", rows="3")
        div(data-role='fieldcontain')
          input.btn.btn-light(type='submit',value='Submit',data-transition='fade', data-theme='c')